{{include:../../../../templates/common/header.ejs}}
<script type="text/javascript">
    window.AppData = {
        enableUim: <%- JSON.stringify(enableUim || false) %>,
        site: <%- JSON.stringify(site || {}) %>,
        domain: <%- JSON.stringify(domain || null) %>
    }
</script>
<div>
    <div id="app"></div>
</div>
{{include:../../../../templates/common/footer.ejs}}